.bag{
    /* background-color: blue; */
    /* height: 500px; */
    width: 100%;
    border: 1px solid black;
    margin-right: 20px;
    

}
#title{
    color: white;
    /* border: 1px solid black; */
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    margin: 3px 37px 20px 28px;
    
     
}
span{
    margin-left: 23px;
}
.parent{
    padding: 0 12px 0 15px;
    height: 50px;
    
}
.col1{
    
    width:325px;
    /* background-color: red; */
    background-color: #367fa9;
}
.col2{
    
    width:5%;
    /* background-color: blue; */
    background-color: #3c8dbc;
}

.col3{
    
    width:100%;
    /* background-color: green; */
    background-color: #3c8dbc;
}

.col2:hover{
    background-color: #367fa9;
}
.menu{
    margin: 14px 0 0 10px;
    color: white;
    /* border: 1px solid black; */
}
.logo{
    width: 20%;
    height: 50px;   
    float: right;
    margin: -51px 0px 7px 7px;
    border: 1px solid black ;
}